/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 392px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 776px) {
  .container {
    max-width: 776px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1160px) {
  .container {
    max-width: 1160px;
  }
}
