.form {
  display: flex;
  gap: 8px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 371px;
  margin-bottom: 32px;
}

.form-input {
  display: inline-block;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #808080;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

/* plaseholder of input */
.form-input::placeholder {
  color: #808080;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

.form-button {
  width: 91px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.form-button:hover {
  background-color: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid #4e75ff;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: #4e75ff;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}

.load-more {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  /* display: block; */
  margin: 0 auto;
  display: none;
  margin-top: 32px;
  margin-bottom: 44px;
}
